<div class="card">
      <div class="card-image">
        <figure class="image">
          <img src="/assets/images/projects/{{ project.image }}" alt="{{ project.title }}" style="align-self: center;">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <a href="{{ project.url }}" target="_blank"><p class="title is-4">{{ project.title }}</p></a>
            {% if project.client %}
            <p> Client: <a href="{{ project.url }}" target="_blank">{{project.client}}</a></p>
            {% endif %}
            <p> Domain: {% for domain in domains %} <a href="/tag/{{ domain | downcase | strip }}">{{ domain }},</a> {% endfor %}</p>
            <p> Contribution: {% for contribution in contributions %} <a href="/tag/{{ contribution | downcase | strip }}">{{ contribution }},</a> {% endfor %}</p>
            <p> Arena: <a href="/tag/{{ project.arena | downcase | strip }}">{{ project.arena }}</a></p>
            <p> <a href="/tag/trl{{ project.trl | downcase | strip }}">Technology Readiness Level: {{project.trl}}</a></p>
            <p> Status: <a href="/tag/{{ project.status | downcase | strip }}">{{project.status}}</a></p>
            <p> Patent: {{project.patent}}</p>
            <p> {{project.start}} - {{project.end}}</p>
          </div>
        </div>

        <div class="content">
          {{ project.description }}
          <br>
          <small>{{ project.period }}</small>
        </div>
      </div>
    </div>