<div class="column">
  {% for project_hash in site.data.projects %}
	  {% assign project = project_hash[1] %}
    {% if project.arena == arena %}
      {% assign domains = project.domains | split: ',' %}
      {% assign contributions = project.contribution | split: ',' %}
      {% if display_tags == "" %}
        {% include card.html %}
      {% else %}
        {% assign tags = display_tags | split: ',' %}
        {% assign project_tags = project.tags | split: ',' %}
        {% for tag in tags %}
          {% for project_tag in project_tags %}
            {% assign project_tag_cleaned = project_tag | strip %}
            {% if tag == project_tag_cleaned %}
              {% include card.html %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>