---
layout: default
published: true
---

<div class="tile is-ancestor">
  <div class="tile is-vertical is-3">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <figure class="image is-256x256">
            <img src="{{ site.photo }}" alt="Image">
        </figure>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
      <div class="content">
        {{ content }}
      </div>
  </div>
</div>

<p class="title is-4 has-text-centered">Clients and Collaborators</p>

<div class="columns is-multiline level">
{% for image in site.static_files %}
    {% if image.path contains 'assets/images/clients' %}
    <div class="column is-3">
        <figure class="image is-128x128 level-item">
            <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
        </figure>
    </div>
    {% endif %}
{% endfor %}
</div>
